
.depicter-revert.depicter-12 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-12-element-139{
	opacity:0.96;
}
.depicter-12-element-139 .depicter-bullet-item{
	background-color:rgba(143, 143, 143, 0.5);
	border-radius:20px 20px 20px 20px ;
	margin-right:20px;
	width:20px;
	height:20px;
}
.depicter-12-element-139 .depicter-bullet-item.depicter-bullet-active{
	background-color:#fd0303;
}
.depicter-revert .depicter-12-element-97{
	font-size:26px;
	color:#000000;
	font-family:"Sora";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-12-element-98{
	font-size:30px;
	text-align:center;
	color:#000000;
	font-family:"Sora";
	font-weight:600;
	background-color:#ffffff;
	border-width:0px;
	border-style:solid;
	border-color:#000;
	border-radius:35px;
}
.depicter-revert .depicter-12-element-98:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-12-element-94{
	font-size:59px;
	color:#000000;
	font-family:"Sora";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-12-element-93{
	font-size:59px;
	color:#000000;
	font-family:"Sora";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-12-element-92{
	font-size:59px;
	color:#000000;
	font-family:"Sora";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-12-section-1{
	background-color:rgba(251, 241, 230, 1);
}
.depicter-revert .depicter-12-element-123{
	font-size:40px;
	color:#ee5519;
	font-family:"Sora";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-12-element-122{
	font-size:26px;
	color:#000000;
	font-family:"Sora";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-12-element-109{
	font-size:30px;
	text-align:center;
	color:#000000;
	font-family:"Sora";
	font-weight:600;
	background-color:#ffffff;
	border-width:0px;
	border-style:solid;
	border-color:#000;
	border-radius:35px;
}
.depicter-revert .depicter-12-element-109:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-12-element-108{
	font-size:26px;
	color:#000000;
	font-family:"Sora";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-12-element-104{
	font-size:59px;
	color:#000000;
	font-family:"Sora";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-12-element-103{
	font-size:59px;
	color:#000000;
	font-family:"Sora";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-12-section-99{
	background-color:rgba(251, 241, 230, 1);
}
.depicter-revert .depicter-12-element-136{
	font-size:40px;
	color:#ee5519;
	font-family:"Sora";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-12-element-135{
	font-size:26px;
	color:#000000;
	font-family:"Sora";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-12-element-133{
	font-size:30px;
	text-align:center;
	color:#000000;
	font-family:"Sora";
	font-weight:600;
	background-color:#ffffff;
	border-width:0px;
	border-style:solid;
	border-color:#000;
	border-radius:35px;
}
.depicter-revert .depicter-12-element-133:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-12-element-132{
	font-size:26px;
	color:#000000;
	font-family:"Sora";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-12-element-130{
	font-size:59px;
	color:#000000;
	font-family:"Sora";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-12-element-129{
	font-size:59px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-12-section-125{
	background-color:#fbf1e6;
}

